<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.assistant.handlers.PapyrusReqSysMLRequirementHandler"
            name="%createNewRequirement.command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.assistant.handlers.DecomposeReqHandler"
            name="%decomposeRequirement.command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.assistant.handlers.CommentReqHandler"
            name="%createComments.command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.assistant.handlers.ExtractCommentsHandler"
            name="%extractComments.command.name">
      </command>
   </extension>
</plugin>
