<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.eclipse.org/papyrus/requirements/sysml14/BoilerplateText"
			class = "org.eclipse.papyrus.requirements.sysml14.boilerplateText.BoilerplateTextPackage"
			genModel = "model/generated/BoilerplateText.genmodel" />
	</extension>
</plugin>
