<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.ApplyTracabilityHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.ApplyTracabilityHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.InitDerivedReqHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.InitDerivedReqHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddDerivesLinkHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddDerivesLinkHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddDerivedByLinkHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddDerivedByLinkHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddRefinedByLinkHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddRefinedByLinkHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddVerifiedByLinkHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddVerifiedByLinkHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddSatisfiedByLinkHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddSatisfiedByLinkHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddAbstractionByLinkHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddAbstractionByLinkHandler">
      </handler>
  </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddVerifiesLinkHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddVerifiesLinkHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddSatisfiesLinkHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddSatisfiesLinkHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddRefinesLinkHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddRefinesLinkHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddAbstractionLinkHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddAbstractionLinkHandler">
      </handler>
   </extension>
</plugin>
