<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.metrics.handlers.MeasureMetricsHandler"
            name="%command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.metrics.handlers.MeasureMetricsForSmmHandler"
            name="%command.name.0">
      </command>
   </extension>

</plugin>
