<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.metrics.extensionpoints.smmmetricsmodel">
      <element
            xmiFile="platform:/plugin/org.eclipse.papyrus.requirements.sysml14.metrics.library/model/SmmRequirementsMetricsModel.xmi">
      </element>
   </extension>
   <extension
         point="org.eclipse.papyrus.metrics.extensionpoints.defaultqueryswitch">
      <element
            class="org.eclipse.papyrus.requirements.sysml14.metrics.library.SysMLRequirementsDefaultQuerySwitch">
      </element>
   </extension>
   <extension
         point="org.eclipse.papyrus.metrics.extensionpoints.recognizerswitch">
      <element
            class="org.eclipse.papyrus.requirements.sysml14.metrics.library.SysMLRequirementsRecognizerSwitch">
      </element>
   </extension>

</plugin>
