bin/
target/
sonarlint/
*.java._trace
*.pyc
.DS_Store
*.xtendbin
*.gmfgen.uml

# Workspace metadata folder created by Oomph when launching tests.
tests/**/.metadata/

# Eclipse specific files
.project
!**/org.eclipse.papyrus.*/.project

#intellij files
.idea/
*.iml