<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.tester">
      <tester
            class="org.eclipse.papyrus.requirements.sysml14.matrix.common.tester.RequirementTableTester"
            id="org.eclipse.papyrus.requirements.sysml14.matrix.common.tester.RequirementTableTester">
      </tester>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.axismanager">
      <axisManager
            id="org.eclipse.papyrus.requirements.sysml14.matrix.common.axismanager.NamedElementsWithoutRequirementsAndDependenciesAxisManager"
            manager="org.eclipse.papyrus.requirements.sysml14.matrix.common.axismanager.NamedElementsWithoutRequirementsAndDependenciesAxisManager">
      </axisManager>
      <axisManager
            id="org.eclipse.papyrus.requirements.sysml14.matrix.common.axismanager.RequirementAndSubRequirementsAxisManager"
            manager="org.eclipse.papyrus.requirements.sysml14.matrix.common.axismanager.RequirementAndSubRequirementsAxisManager">
      </axisManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.cellmanager">
      <cellManager
            id="org.eclipse.papyrus.requirements.sysml14.matrix.common.cellmanager.RowEqualsColumCellManager"
            manager="org.eclipse.papyrus.requirements.sysml14.matrix.common.cellmanager.RowEqualsColumCellManager"
            order="3">
      </cellManager>
      <cellManager
            id="org.eclipse.papyrus.requirements.sysml14.matrix.common.cellmanager.SameStereotypeCellManager"
            manager="org.eclipse.papyrus.requirements.sysml14.matrix.common.cellmanager.SameStereotypeCellManager"
            order="5">
      </cellManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <cellAxisConfiguration
            class="org.eclipse.papyrus.requirements.sysml14.matrix.common.celleditor.BooleanMatrixCellEditorConfiguration"
            order="29">
      </cellAxisConfiguration>
   </extension>
</plugin>
