<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
     Copyright (c) 2017 CEA LIST.
   
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
   
     Contributors:
     		CEA LIST - Initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=org.eclipse.papyrus.requirements.common.ui.languagecreation.additions">
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.requirements.common.ui/images/Papyrus_Req_logo_16x16.png"
               id="papyrus.requirements.languagecreationtools.menu"
               label="%papyrus.requirements.languagecreationtools.menu.label"
               tooltip="%papyrus.requirements.languagecreationtools.tooltip">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=org.eclipse.papyrus.requirements.common.ui.languagecreation.additions">
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.requirements.common.ui/images/Papyrus_Req_logo_16x16.png"
               id="papyrus.requirements.languagecreationtools.menu"
               label="%papyrus.requirements.languagecreationtools.menu.label"
               tooltip="%papyrus.requirements.languagecreationtools.menu.tooltip">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:papyrus.requirements.languagecreationtools.menu">
         <command
               commandId="org.eclipse.papyrus.requirements.languagecreationtools.handlers.InitCreateInitialProfileFromDomainModelHandler"
               icon="images/Profile.gif"
               label="%generateProfileFromADomainModel.command.label"
               style="push"
               tooltip="%generateProfileFromADomainModel.command.tooltip">
         </command>
      </menuContribution>
   </extension>
</plugin>

