<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.papyrus.requirements.cheatsheet"
         name="Modeling with the Requirement Modeling Framework"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.papyrus.requirements.cheatsheet.category"
            name="Modeling with the Papyrus for Requirements">
      </category>
      <cheatsheet
            category="org.eclipse.papyrus.requirements.cheatsheet.category"
            composite="false"
            contentFile="cheatsheet/ModelingRequirements.xml"
            id="org.eclipse.papyrus.requirements.cheatsheet.cheatsheet1"
            name="Modeling Requirements">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.requirements.cheatsheet.handlers.CreateBmmProjectWizardHandler"
            id="org.eclipse.papyrus.requirements.cheatsheet.handlers.CreateBmmProjectWizardHandler"
            name="Create BMM Project">
      </command>
   </extension>
</plugin>
