<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.eclipse.papyrus.requirements.sysml14.verification.rules.category"
            name="%category.name">
      </category>
      <constraintProvider
            mode="Batch">
         <package
               namespaceUri="http://www.eclipse.org/uml2/5.0.0/UML">
         </package>
         <constraints
               categories="org.eclipse.papyrus.requirements.sysml14.verification.rules.category">
            <constraint
                  class="org.eclipse.papyrus.requirements.sysml14.verfication.rules.AllRequirementsMustBeSatisfied"
                  id="org.eclipse.papyrus.requirements.sysml14.verfication.rules.AllRequirementsAreSatisfied"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message
               </message>
               <description>
                  %constraint.description
               </description>
               <target
                     class="Class">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.requirements.sysml14.verfication.rules.AllRequirementsMustBeVerified"
                  id="org.eclipse.papyrus.requirements.sysml14.verfication.rules.AllRequirementsMustBeVerified"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.0"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  %constraint.message.0
               </message>
               <description>
                  %constraint.description.0
               </description>
               <target
                     class="Class">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.requirements.sysml14.verfication.rules.TextShouldBeSyntacticallyDifferent"
                  id="org.eclipse.papyrus.requirements.sysml14.verfication.rules.AllRequirementsTextMustBeDifferent"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.1"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  %constraint.message.1
               </message>
               <description>
                  %constraint.description.1
               </description>
               <target
                     class="Class">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="org.eclipse.papyrus.requirements.sysml14.verification.clientContext">
         <selector
               class="org.eclipse.papyrus.requirements.sysml14.verification.ClientSelector">
         </selector>
      </clientContext>
      <binding
            context="org.eclipse.papyrus.requirements.sysml14.verification.clientContext">
         <category
               ref="org.eclipse.papyrus.requirements.sysml14.verification.rules.category">
         </category>
      </binding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=org.eclipse.papyrus.requirements.sysml14.common.ui.analysis.additions">
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.requirements.sysml14.common.ui/images/Papyrus_Req_logo_16x16.png"
               id="org.eclipse.papyrus.requirements.sysml14.verification.menu"
               label="SysML 1.4 Papyrus Req - Validation">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=org.eclipse.papyrus.requirements.sysml14.common.ui.analysis.additions">
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.requirements.sysml14.common.ui/images/Papyrus_Req_logo_16x16.png"
               id="org.eclipse.papyrus.requirements.sysml14.verification.menu"
               label="SysML 1.4 Papyrus Req - Validation">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.requirements.sysml14.verification.menu">
         <command
               commandId="org.eclipse.papyrus.validation.ValidateModelCommand"
               icon="platform:/plugin/org.eclipse.papyrus.infra.services.validation/icons/etool16/validate.gif"
               id="org.eclipse.papyrus.validation.ValidateModel"
               label="Validate model">
         </command>
         <command
               commandId="org.eclipse.papyrus.validation.ValidateSubtreeCommand"
               icon="platform:/plugin/org.eclipse.papyrus.infra.services.validation/icons/etool16/validate.gif"
               id="org.eclipse.papyrus.validation.ValidateSubtree"
               label="Validate subtree">
         </command>
         <command
               commandId="org.eclipse.papyrus.validation.SelectAndValidateModelCommand"
               icon="platform:/plugin/org.eclipse.papyrus.infra.services.validation/icons/etool16/validateSel.gif"
               id="org.eclipse.papyrus.validation.SelectAndValidateModel"
               label="Select constraints and Validate model">
         </command>
         <command
               commandId="org.eclipse.papyrus.validation.SelectAndValidateSubtreeCommand"
               icon="platform:/plugin/org.eclipse.papyrus.infra.services.validation/icons/etool16/validateSel.gif"
               id="org.eclipse.papyrus.validation.SelectAndValidateSubtree"
               label="Select constraints and Validate subtree">
         </command>
         <command
               commandId="org.eclipse.papyrus.validation.ValidateDelMarkersFromModelCommand"
               disabledIcon="IMG_TOOL_DELETE_DISABLED"
               icon="IMG_TOOL_DELETE"
               id="org.eclipse.papyrus.validation.DeleteMarkersFromModel"
               label="Remove markers from model">
         </command>
         <command
               commandId="org.eclipse.papyrus.validation.ValidateDelMarkersFromSubtreeCommand"
               disabledIcon="IMG_TOOL_DELETE_DISABLED"
               icon="IMG_TOOL_DELETE"
               id="org.eclipse.papyrus.validation.DelMarkersFromSubtree"
               label="Remove markers from subtree">
         </command>
      </menuContribution>
   </extension>

</plugin>
