<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=org.eclipse.papyrus.requirements.sysml14.common.ui.traceability.additions">
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.requirements.sysml14.common.ui/images/Papyrus_Req_logo_16x16.png"
               id="papyrus.requirements.sysml14.traceability.menu"
               label="%papyrus.requirements.sysml14.traceability.menu.label"
               tooltip="%papyrus.requirements.sysml.traceability.tooltip">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=org.eclipse.papyrus.requirements.sysml14.common.ui.traceability.additions">
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.requirements.sysml14.common.ui/images/Papyrus_Req_logo_16x16.png"
               id="papyrus.requirements.sysml14.traceability.menu"
               label="%papyrus.requirements.sysml14.traceability.menu.label"
               tooltip="%papyrus.requirements.sysml14.traceability.menu.tooltip">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:papyrus.requirements.sysml14.traceability.menu">
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.InitDerivedReqHandler"
               icon="images/DeriveReqt.gif"
               label="%deriveNewRequirement.command.label"
               style="push"
               tooltip="%deriveNewRequirement.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddDerivesLinkHandler"
               icon="images/DeriveReqt.gif"
               label="%addDerivesLink.command.label"
               style="push"
               tooltip="%addDerivesLink.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddDerivedByLinkHandler"
               icon="images/DeriveReqt.gif"
               label="%addDerivedByLink.command.label"
               style="push"
               tooltip="%addDerivedByLink.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddRefinedByLinkHandler"
               icon="images/Verify.gif"
               label="%addRefinedByLink.command.label"
               style="push"
               tooltip="%addRefinedByLink.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddSatisfiedByLinkHandler"
               icon="images/Satisfy.gif"
               label="%addSatisfiedbyLink.command.label"
               style="push"
               tooltip="%addSatisfiedbyLink.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddVerifiedByLinkHandler"
               icon="images/Verify.gif"
               label="%addVerifiedByLink.command.label"
               style="push"
               tooltip="%addVerifiedByLink.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isRequirementElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:papyrus.requirements.sysml14.traceability.menu">
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddAbstractionByLinkHandler"
               icon="images/Abstraction.gif"
               label="%addAbstractionByLink.command.label"
               style="push"
               tooltip="%addAbstractionByLink.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isRequirementElement"
                        value="false">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddRefinesLinkHandler"
               icon="images/Verify.gif"
               label="%addRefinesLink.command.label"
               style="push"
               tooltip="%addRefinesLink.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isRequirementElement"
                        value="false">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddSatisfiesLinkHandler"
               icon="images/Satisfy.gif"
               label="%addSatisfiesLink.command.label"
               style="push"
               tooltip="%addSatisfiesLink.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isRequirementElement"
                        value="false">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddVerifiesLinkHandler"
               icon="images/Verify.gif"
               label="%addVerifiesLink.command.label"
               style="push"
               tooltip="%addVerifiesLink.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isRequirementElement"
                        value="false">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddAbstractionLinkHandler"
               icon="images/Abstraction.gif"
               label="%addAbstractionLink.command.label"
               style="push"
               tooltip="%addAbstractionLink.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.requirements.sysml14.testers.isNamedElement"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
               <key
            commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.InitDerivedReqHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
               <key
                     commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddDerivesLinkHandler"
                     contextId="org.eclipse.ui.contexts.window"
                     schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
                     sequence="M1+7">
               </key>
               <key
                     commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddDerivedByLinkHandler"
                     contextId="org.eclipse.ui.contexts.window"
                     schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
                     sequence="M1+8">
               </key>
      <key
            commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddRefinedByLinkHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
      <key
            commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddSatisfiedByLinkHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0">
      </key>
      <key
            commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddVerifiedByLinkHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+0">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddRefinesLinkHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+1">
      </key>
      <key
            commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddVerifiesLinkHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+2">
      </key>
      <key
            commandId="org.eclipse.papyrus.requirements.sysml14.traceability.handlers.AddSatisfiesLinkHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+3">
      </key>
   </extension>
</plugin>

