<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.requirements.sysml14.preferences.PreferencePage"
            id="org.eclipse.papyrus.requirements.sysml14.preferences.PreferencePage"
            name="Preferences for Requirements">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.requirements.sysml14.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:papyrus.requirements.menu">
         <command
               commandId="org.eclipse.papyrus.requirements.sysml14.preferences.handlers.ShowPreferencePageHandler"
               id="org.eclipse.papyrus.requirements.sysml14.preferences.handlers.ShowPreferencePageHandler"
               label="Preference Settings..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.requirements.sysml14.preferences.handlers.ShowPreferencePageHandler"
            commandId="org.eclipse.papyrus.requirements.sysml14.preferences.handlers.ShowPreferencePageHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml14.preferences.handlers.ShowPreferencePageHandler"
            name="Preference Settings...">
      </command>
   </extension>
</plugin>
