<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.requirements.sysml.assistant.handlers.PapyrusReqSysMLRequirementHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.assistant.handlers.PapyrusReqSysMLRequirementHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.assistant.handlers.DecomposeReqHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.assistant.handlers.DecomposeReqHandler">
      </handler>
      <handler
            class="org.eclipse.papyrus.requirements.sysml.assistant.handlers.ExtractCommentsHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.assistant.handlers.ExtractCommentsHandler">
      </handler>
		
      <handler
            class="org.eclipse.papyrus.requirements.sysml.assistant.handlers.CommentReqHandler"
            commandId="org.eclipse.papyrus.requirements.sysml.assistant.handlers.CommentReqHandler">
      </handler>
   </extension>
</plugin>
