<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?before=org.eclipse.ui.edit.delete">
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.separator.start"
               visible="true">
         </separator>
             <menu
               icon="platform:/plugin/org.eclipse.papyrus.requirements.sysml14.common.ui/images/Papyrus_Req_logo_16x16.png"
               id="papyrus.requirements.menu"
               label="Papyrus Req"
               tooltip="Menu to manage Requirements">
         </menu>
             <separator
                   name="org.eclipse.papyrus.requirements.sysml14.common.ui.separator.end"
                    visible="true">
             </separator>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.separator.start"
                visible="true">
         </separator>
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.requirements.sysml14.common.ui/images/Papyrus_Req_logo_16x16.png"
               id="papyrus.requirements.menu"
               label="Papyrus Req"
               tooltip="Menu to manage Requirements">
         </menu>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.separator.end"
                visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
      <modeldeclaration
            file="resources/ReqDisplay.custom">
      </modeldeclaration>
   </extension>

</plugin>
