<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?before=org.eclipse.ui.edit.delete">
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.separator.start">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.metrics.additions"
               visible="false">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.assistant.additions"
               visible="true">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.traceability.additions"
               visible="false">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.analysis.additions"
               visible="false">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.preferences.additions"
               visible="false">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.dummy"
               visible="true">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.separator.end">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.separator.start">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.metrics.additions"
               visible="false">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.assistant.additions"
               visible="true">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.traceability.additions"
               visible="false">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.analysis.additions"
               visible="false">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.preferences.additions"
               visible="false">
         </separator>
         <separator
               name="org.eclipse.papyrus.requirements.sysml14.common.ui.separator.end">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
      <modeldeclaration
            file="resources/ReqDisplay.custom">
      </modeldeclaration>
   </extension>

</plugin>
