<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.papyrus.infra.nattable.configuration">
      <configuration
            file="resource/AllocationMatrix.nattableconfiguration"
            type="AllocationRequirementMatrix">
      </configuration>
      <configuration
            file="resource/SatisfactionMatrix.nattableconfiguration"
            type="SysMLSatisfactionRequirementMatrix">
      </configuration>
      <configuration
            file="resource/TraceMatrix.nattableconfiguration"
            type="SysMLTraceRequirement Matrix">
      </configuration>
      <configuration
            file="resource/DerivedMatrix.nattableconfiguration"
            type="SysMLDerivedRequirementMatrix">
      </configuration>
      <configuration
            file="resource/VerifiedMatrix.nattableconfiguration"
            type="SysMLVerifyRequirementMatrix">
      </configuration>
   </extension>
</plugin>
