<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Requirements Neon Target Platform" sequenceNumber="1488554308">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.7.0.v20170126-1030"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.7.0.v20170126-1030"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.13.0.v20170126-1030"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.1.0.v20170105-1450"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.7.0.v20170111-1955"/>
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="3.0.0.201702011724"/>
      <repository id="eclipse-neon" location="http://download.eclipse.org/releases/oxygen/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sysml.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.sysml.nattable.feature.feature.group" version="0.0.0"/>
      <repository id="papyrus-neon-extra" location="https://hudson.eclipse.org/papyrus/job/Papyrus-Master-Extra/lastSuccessfulBuild/artifact/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rmf.reqif10.sdk.feature.feature.group" version="0.13.0.201509161042"/>
      <unit id="org.eclipse.rmf.reqif10.pror.sdk.feature.feature.group" version="0.13.0.201509161042"/>
      <repository id="rmf" location="http://download.eclipse.org/rmf/updates/releases"/>
    </location>
  </locations>
</target>
