<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Requirements Target Platform" sequenceNumber="1543403952">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.draw2d" version="0.0.0"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/2018-09"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sysml14" version="0.0.0"/>
      <repository id="sysml14" location="http://download.eclipse.org/modeling/mdt/papyrus/components/sysml14/photon/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rmf.reqif10.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rmf.reqif10.pror.sdk.feature.feature.group" version="0.0.0"/>
      <repository id="rmf" location="http://download.eclipse.org/rmf/updates/releases"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.lang" version="0.0.0"/>
      <unit id="org.apache.commons.codec" version="0.0.0"/>
      <repository id="orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xwt.feature.feature.group" version="1.3.1.I20171018-2059"/>
      <repository id="xwt" location="http://download.eclipse.org/xwt/updates"/>
    </location>
  </locations>
</target>
