<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
     Copyright (c) 2017 CEA LIST.
   
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
   
     Contributors:
     		CEA LIST - Initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.traceability.handlers.ApplyTracabilityHandler"
            name="%applyTraceabilityAssistant.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.traceability.handlers.InitDerivedReqHandler"
            name="%deriveNewRequirement.command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddDerivedByLinkHandler"
            name="%addDerivedByLink.command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddRefinedByLinkHandler"
            name="%addRefinedByLink.command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddSatisfiedByLinkHandler"
            name="%addSatisfiedByLink.command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddVerifiedByLinkHandler"
            name="%addVerifiedByLink.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddVerifiesLinkHandler"
            name="%addVerifiesLink.command.name">
      </command>
  
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddRefinesLinkHandler"
            name="%addRefinesLink.command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddSatisfiesLinkHandler"
            name="%addSatisfiesLink.command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.sysml.traceability.handlers.AddDerivesLinkHandler"
            name="%addDerivesLink.command.name">
      </command>
   </extension>
</plugin>
