<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.configuration">
      <configuration
            file="config/SatisfiedByMatrix.nattableconfiguration"
            type="SatisfiedByMatrixSysML14">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.cellmanager">
      <cellManager
            id="org.eclipse.papyrus.requirements.sysml14.matrix.satisfiedBy.config.cellmanager.SatisfiedByMatrixCellManager"
            manager="org.eclipse.papyrus.requirements.sysml14.matrix.satisfiedBy.config.cellmanager.SatisfiedByMatrixCellManager"
            order="3">
      </cellManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <contribution
            file="config/SatisfiedByMatrix.configuration"
            original="platform:/plugin/org.eclipse.papyrus.infra.viewpoints.policy/builtin/default.configuration">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <cellAxisConfiguration
            class="org.eclipse.papyrus.requirements.sysml14.matrix.satisfiedBy.config.celleditor.SatisfiedByCellEditorConfiguration"
            order="33">
      </cellAxisConfiguration>
   </extension>
</plugin>
