<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.configuration">
      <configuration
            file="config/VerifiedByMatrix.nattableconfiguration"
            type="VerifiedByMatrix">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.cellmanager">
      <cellManager
            id="org.eclipse.papyrus.requirements.sysml14.matrix.verifiedBy.config.cellmanager.VerifiedByMatrixCellManager"
            manager="org.eclipse.papyrus.requirements.sysml14.matrix.verifiedBy.config.cellmanager.VerifiedByMatrixCellManager"
            order="101">
      </cellManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <contribution
            file="config/VerifiedByMatrix.configuration"
            original="platform:/plugin/org.eclipse.papyrus.infra.viewpoints.policy/builtin/default.configuration">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <cellAxisConfiguration
            class="org.eclipse.papyrus.requirements.sysml14.matrix.verifiedBy.config.celleditor.VerifiedByMatrixCellEditorConfiguration"
            order="31">
      </cellAxisConfiguration>
   </extension>

</plugin>
