<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.requirements.preferences.PreferencePage"
            id="org.eclipse.papyrus.requirements.preferences.PreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.requirements.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=org.eclipse.papyrus.requirements.common.ui.preferences.additions">
         <command
               commandId="org.eclipse.papyrus.requirements.preferences.handlers.ShowPreferencePageHandler"
               icon="platform:/plugin/org.eclipse.papyrus.requirements.common.ui/images/Papyrus_Req_logo_16x16.png"
               id="org.eclipse.papyrus.requirements.preferences.handlers.ShowPreferencePageHandler"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=org.eclipse.papyrus.requirements.common.ui.preferences.additions">
         <command
               commandId="org.eclipse.papyrus.requirements.preferences.handlers.ShowPreferencePageHandler"
               icon="platform:/plugin/org.eclipse.papyrus.requirements.common.ui/images/Papyrus_Req_logo_16x16.png"
               id="org.eclipse.papyrus.requirements.preferences.handlers.ShowPreferencePageHandler"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.requirements.preferences.handlers.ShowPreferencePageHandler"
            commandId="org.eclipse.papyrus.requirements.preferences.handlers.ShowPreferencePageHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.preferences.handlers.ShowPreferencePageHandler"
            name="%command.name">
      </command>
   </extension>
</plugin>
