<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.requirements.languagecreationtools.handlers.CreateProfileFromDomainModelHandler"
            name="%generateProfileFromADomainModel.command.name">
      </command>
   </extension>

</plugin>
