<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            icon="platform:/plugin/org.eclipse.papyrus.metrics.ui/images/Papyrus_Metrics_logo_16x16.png"
            category="org.eclipse.papyrus.views.category"
            class="org.eclipse.papyrus.metrics.view.BasicMetricsView"
            id="org.eclipse.papyrus.metrics.view.BasicMetricsView">
         <description>
            %view.description
         </description>
      </view>
   </extension>

</plugin>
